@font-face {
    font-family: 'digital-7';
    src: url(/fonts/digital-7.ttf);
}
body{
    background-color: #191919;    
}
h1{
    color: white;
    background-color: blue;
}

.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
  }

.clock-settings{
    background-color: #476494;
}

.modal-btn{
    background-color: white;
    border-color:white;
}
#study-action{
    border-style: solid;
    border-color:#C84B31;
    border-width: 15px;
    border-radius: 50px;
    width: 250px;
    text-align: center;
    background-color:#ECDBBA ;
    color: #C84B31;
    font-size: 55px;    
    font-family: 'digital-7'; 
   
}
#study-box{
    padding-top: 10px;

}
#big-box{
    border-radius: 25px;
    height: 700px; 
    background-color: #2D4263;
    margin-right: auto;
    margin-left: auto;
   
}

#logo{
    padding-top: 25px;
    height: 115px;
    width: 100%;
}
#clock{
    border-style: solid;
    border-color:#C84B31;
    border-width: 15px;
    border-radius: 45px;
    background-color:#ECDBBA ;
    color: #C84B31;
    font-size: 75px;    
    text-align: center;
    margin-top: 50px;
    font-family: 'digital-7'; 
}
#btn-start{
    margin-top: 25px;
    background-color: #C84B31;
    border-color: #C84B31;
}
#btn-stop{
    margin-top: 25px;
    background-color: #99A8B2;
    border-color: #99A8B2;

}

#btn-settings{
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 15px;
    background-color: #C84B31;
    border-color: #C84B31;
    font-family: "digital-7";
}

#ModalLabel{
    color: white;
}

